html, body {
    font-family: Arial, Helvetica, sans-serif; 
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > section {
    margin: 20px;
    padding: 20px;
    border: 1px dashed gray;
}