html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

select {
    float: right;
}

main {
    flex: 1;
    display: flex;
}

textarea {
    display: block;
    flex: 1;
    background-color: rgb(30,30,30);
    color:white;
    font-size: 16px;
}

header {
    padding: 10px;
}

input {
    width: 350px;
}

textarea, pre {
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}